@charset "utf-8";

html,
body{
  margin: 0;
  padding: 0;
  font-family: 'Pixelify Sans', sans-serif;
}

body{
  margin: auto;
  margin-top: 10px;
  width: 1000px;
  height: 600px;
}

#screen-container{
  position: relative;
  background: url('../images/Caution_Background.jpeg');
  background-size: cover;
  background-position: center;
  width: 1000px;
  height: 600px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

#button-container{
  display: flex;
  gap: 10px;
  align-self: flex-end;
  margin: 10px;
}

/* SPLASH SCREEN */

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

#splash-screen{
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

#splash-logo {
  align-items: center;
  height: 120px;
  margin-top: 50px;
  animation-iteration-count: infinite;
  -webkit-animation: breathing 4s ease-out infinite normal;
  animation: breathing 4s ease-out infinite normal;
  -webkit-font-smoothing: antialiased;
}

#forklift-side-view{
  margin-top: 15px;
  margin-right: 20px;
  align-items: center;
  height: 120px;
}

.player-selection{
  width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#name-entry,
#join-id,
#help-button{
  font-family: 'Pixelify Sans', sans-serif;
}

#player-input{
  margin-top: 10px;
}

#difficulty{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

#start-button {
  margin-top: 10px;
}

/* GAME SCREEN */

#game-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.game-board-container{
  position: absolute;
  top: 50%;
  left: 46%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 710px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  align-items: center;
  background: url('../images/Floor.jpeg');
  background-size: cover;
}

#game-screen-logo{
  height: 25px;
  position: absolute;
  align-self: flex-start;
  align-items: start;
  top: 20px;
  left: 20px;
}

#forklift{
  position: relative;
  height: '50px';
  width: '35px';
}

#truck{
  height: 200px;
  rotate: 270deg;
  position:absolute;
  left: 3px;
}

#pallet{
  height: 30px;
  position: relative;
  z-index: 9999;
  border: 2px solid white;
}

#box-guys1,
#box-guys2{
  display: none;
  position: absolute;
  height: 70px;
  rotate: 90deg;
}

#box-guys1{
  top: 70px;
  left: 260px;
}

#box-guys2{
  right: 270px;
}

#pallet-guy{
  display: none;
  position: absolute;
  height: 90px;
  right: 250px;
  bottom: 75px;
  rotate: 90deg;
}

#box-guy1,
#box-guy2
{
  display: none;
  position: absolute;
  height: 30px;
  rotate: 180deg;
}

#box-guy1{
  right: 160px;
  bottom: 105px;
}

#box-guy2{
  right: 190px;
  bottom: 105px;
}

#shelves1,
#shelves2,
#shelves3,
#shelves4,
#shelves5,
#shelves6,
#shelves7,
#shelves8
{
  display: none;
  position: absolute;
  height: 60px;
}

#shelves1{
  left: 80px;
  top: 80px;
}

#shelves2{
  top: 80px;
}

#shelves3{
  top: 80px;
  right: 80px;
}

#shelves5{
  right: 80px;
}

#shelves6{
  right: 80px;
  bottom: 80px;
}

#shelves7{
  bottom: 80px;
}

#shelves8{
  left: 80px;
  bottom: 80px;
}

.bi-play {
  color: white;
  background-color: green;
}

.bi-pause {
  color: white;
  background-color: red;
}

#play-button{
  position: absolute;
  align-self: flex-start;
  align-items: start;
  top: 80px;
  left: 20px;
  border: none;
}

#pause-button{
  position: absolute;
  align-self: flex-start;
  align-items: start;
  top: 80px;
  left: 20px;
  border: none;
}

#score-board {
  height: auto;
  width: 150px;
  position: absolute;
  top: 160px;
  right: 20px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 10px;
  color: white;
}

.player-name {
  margin-bottom: 5px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: 100%;
}

#score-title{
  font-size: 28px;
}

.player-score {
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: 100%;
}

.player-name::before {
  content: "Player:";
  margin-right: 5px;
}


.player-score::before {
  content: "Score:";
  margin-right: 5px;
}

#timer-board {
  height: auto;
  width: 150px;
  position: absolute;
  top: 300px;
  right: 20px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 10px;
  color: white;
}

#time-title{
  font-size: 28px;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 10px;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

#start-game{
  font-size: 40px;;
}

#help-modal-trigger,
#end-button,
#start-game {
  z-index: 9999;
}

/* GAME OVER SCREEN */

#game-over-screen{
  position: absolute;
  background: url('../images/Game-Over-Background.jpeg');
  background-size: cover;
  width: 1000px;
  height: 600px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#game-over-title{
  margin-top: 20px;
  color: white;
}

#game-over-player{
  height: auto;
  width: 300px;
  height: 80px;
  align-content: center;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 0;
  padding: 0;
  font-size: 25px;
}

#game-over-player-name {
  margin-bottom: 5px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: 100%;
}

#game-over-player-score {
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: 100%;
}


#game-over-player-name::before {
  content: "Player:";
  margin-right: 5px;
}


#game-over-player-score::before {
  content: "Score:";
  margin-right: 5px;
}

#game-over-btn-container{
  margin-top: 20px;
  margin-bottom: 20px;
}

#game-over-container{
  background: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  z-index: 10;
}

#play-again-btn{
  margin-right: 20px;
}

/* OTHER */

#game-screen, 
#game-over-screen,
#end-button,
#splash-help-modal-trigger, 
#pause-button {
    display: none;
}